%header.masthead.text-center.text-white.d-flex
  .container.my-auto
    %h1 Forgot your password?
    %br/
    .container.bg-login
      %br/
      %d.row
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.input :email, autofocus: true
        = f.button :submit, "Reset password", :class => 'btn btn-primary btn-xl js-scroll-trigger'
      %br/
      %d.row
      = render 'devise/shared/links'
      %br/