%br/
%br/
%br/
%br/
.container.text-left
  %h1 About
  %br/
  .row
    %p.container.text-left
      I was born in Florida but spent the majority of my life in Buford Georgia. I went to a small private school known as Hebron Christian academy where I participated in sports such as baseball, swimming and tennis. I also played some ultimate frisbee my first semester of college when I was attending Georgia Gwinnett College. I have since become very interested in Disc Golf and usually play at least one round a week.
      %br
      %br/
      Aside from sports and my home town background, there are many other things I am interested. I am Christian for starters, and I love attending Athens Church where I volunteer on a regular basis as a camera operator during the services. Ever since the end of high school I have had a strong interest in cinematography and photography.
      %br
      %br/
      I am also a passionate Vegan, and during my time in college I was actively involved in a group on campus known as SOS (Speak Out for Species). I care about the impact I have on our environment, doing whats best for my personal health, and most of all living a life that is as harmless to animals and other beings as I possibly can.
  %br/
  %br/
.container.text-center
  .row
    .container.text-center
      = image_tag('selfie.jpg',                size: '330x255')
      = image_tag('camera.jpg',                size: '330x255')
  .row
    .container.text-center
      = image_tag('vegan-for-the-animals.jpg', size: '330x255')
      = image_tag('costa-rica.jpg',            size: '330x255')
  %br/
  %br/
  %br/
