<br>
<br>
<br>

<div class="container text-left">
	<h1>FAQ</h1>
	<br>
	<br>
	<br>
	<h3>Why are you vegan?</h3>
		<p>I watched Earthlings and realised that by buying animal products I was directly supporting animal cruelty, so I stopped doing that and became vegan.</p>
	<h3>What church do you go to?</h3>
		<p>I attend Athens Church and regularly serve as a production volunteer.</p>
	<h3>What High School did you go to?</h3>
		<p>Hebron Christian Academy in Dacula Georgia.</p>
	<h3>Best Travel experience?</h3>
		<p>Exploring Thailand for about two weeks with a good friend of mine.</p>
	<h3>Favorite type of music?</h3>
		<p>I typically listen to Christian worship albums or EDM, depends on my mood.</p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
