<h1>FAQ</h1>

<h2>Why are you vegan?</h2>
	<p>I watched Earthlings and realised that by buying animal products I was directly supporting animal cruelty, so I stopped doing that and became vegan.</p>
<h2>What church do you go to?</h2>
	<p>I attend Athens Church and regularly serve as a production volunteer.</p>
<h2>What High School did you go to?</h2>
	<p>Hebron Christian Academy in Dacula Georgia.
<h2>Best Travel experience?</h2>
	<p>Exploring Thailand for about two weeks with a good friend of mine.
<h2>Favorite type of music?</h2>
	<p>I typically listen to Christian worship albums or EDM, depends on my mood.