%br/
%br/
%br/
%br/
.container.text-left
  %h1 FAQ

  %br/
  %h3 Why are you vegan?
  %p I watched Earthlings and realised that by buying animal products I was directly supporting animal cruelty, so I stopped doing that and became vegan.
  %h3 What church do you go to?
  %p I attend Athens Church and regularly serve as a production volunteer.
  %h3 What High School did you go to?
  %p Hebron Christian Academy in Dacula Georgia.
  %h3 Best Travel experience?
  %p Exploring Thailand for about two weeks with a good friend of mine.
  %h3 Favorite type of music?
  %p I typically listen to Christian worship albums or EDM, depends on my mood.
%br/
%br/
%br/
%br/
%br/
%br/
