<br>
<br>
<br>

<div class="container text-left">
  <h1>Resume</h1>
  <br>
  <br>
  <h2 class="mb-0">Justin
    <span class="text-primary">Starner</span>
    </h2>
    <div class="mb-4">825 Gaines School Rd Apt 231 · Athens, GA 30605 · (678) 761-3528 ·
      <a href="mailto:justin@polarnotion.com">justin@polarnotion.com</a>
    </div><br>
  <h2 class="mb-0">Education</h2><br>

  <div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="resume-content mr-auto">
      <h3 class="mb-0">University of Georgia</h3>
      <div class="subheading mb-3">Bachelor of Science</div>
        <div>Computer Science - Software Engineering Track</div>
        <p>GPA: 3.39<br>Spring 2014 - May 2017</p>
    </div>
  </div>

  <h2 class="mb-0">Skills</h2><br>
  <h3 class="mb-0">Programming Languages &amp; Tools</h3><br>
  <div class="subheading mb-3">Ruby, Rails, C, C++, JAVA, SQL, PHP, Bootstrap, HTML, CSS, C#, Unity</div>
  <ul class="fa-ul mb-0">
    <li>
      <i class="fa-li fa fa-check"></i>
      Mobile-First, Responsive Design</li>
    <li>
      <i class="fa-li fa fa-check"></i>
      Cross Functional Teams</li>
    <li>
      <i class="fa-li fa fa-check"></i>
      Agile Development &amp; Scrum</li>
  </ul><br><br>

  <h2 class="mb-0">Experience</h2><br>
  <h3 class="mb-0">Ruby on Rails Apprentice</h3>
  <div class="subheading mb-3">Polar Notion</div>
  <p>Working full-time directly under a mentor as an apprentice for Ruby on Rails development</p><br>

  <a class="btn btn-primary btn-xl js-scroll-trigger" <%= link_to 'Download PDF', '/Justin-Starner-Resume.pdf'%></a>
</div>
