<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<body>
  <div class="container text-left">
    <!-- Page Heading -->
    <h1 class="my-4">Projects<br>
    </h1>

    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a class="card-img-top"><%= link_to image_tag(project.image, size: '348x250'), project %></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="projectview"><%= link_to project.title, project %></a>
              </h4>
              <p class="card-text"><%= project.short_desc %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

<!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
