%br/
%br/
%br/
.container.text-left
  %h1= @project.title
  .row
    .col-md-8
      %img.img-fluid/
      =image_tag(@project.avatar, size: '750x500')
    .col-md-4
      %h3.my-3 Project Description
      %p= @project.long_desc
      %a= link_to 'Live Demo',@project.project_link, :class => 'btn btn-primary btn-xl js-scroll-trigger'
  %br/
  %a= link_to 'Back', projects_path, :class => 'btn btn-primary btn-xl js-scroll-trigger'
  %br/
  %br/
