%header.masthead.text-center.text-white.d-flex
  .container.my-auto
    %h1= @project.title
    .row
      .container.text-center
        .row
          .container.text-center
            =image_tag(@project.avatar, size: '330x255')
    %br/
    .row
      .container.text-left.bg-dark
        .container.my-auto
          %h3.my-3 Project Description
          %br/
          %p= @project.long_desc
          %br/
          %a= link_to 'Live Demo',@project.project_link, :class => 'btn btn-primary btn-xl js-scroll-trigger'
          %br/
          %br/
          %a= link_to 'Back', projects_path, :class => 'btn btn-primary btn-xl js-scroll-trigger'
          %br/
          %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/

