<div class = "footer">
	<p><%= link_to 'Facebook', 'https://www.facebook.com/profile.php?id=100002904715712'%> <%=link_to 'LinkedIn', 'https://www.linkedin.com/in/justin-starner/'%> Email: justin@polarnotion.com</p>
</div>
