<div class="footer navbar-fixed-bottom">
	<div class="container text-center">
  	<br>
    <span class="text-muted"><a href="https://www.facebook.com/profile.php?id=100002904715712">Facebook</a></span>
    <span class="text-muted"><a>|</a></span>
    <span class="text-muted"><a href="https://www.linkedin.com/in/justin-starner/">LinkedIn</a></span>
    <span class="text-muted"><a>|</a></span>
    <span class="text-muted"><a href="mailto:justin@polarnotion.com">Email</a></span>
  </div>
    <br>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="https://blackrockdigital.github.io/startbootstrap-creative/js/creative.min.js"></script>
