.footer.navbar-fixed-bottom
  .container.text-center
    %br/
    %span.text-muted
      %a{:href => 'https://www.facebook.com/profile.php?id=100002904715712'} Facebook
    %span.text-muted
      %a|
    %span.text-muted
      %a{:href => 'https://www.linkedin.com/in/justin-starner/'} LinkedIn
    %span.text-muted
      %a|
    %span.text-muted
      %a{:href => 'mailto:justin@polarnotion.com'} Email
  %br/
  / Bootstrap core JavaScript
  %script{:src => 'vendor/jquery/jquery.min.js'}
  %script{:src => 'vendor/bootstrap/js/bootstrap.bundle.min.js'}
  / Plugin JavaScript
  %script{:src => 'vendor/jquery-easing/jquery.easing.min.js'}
  %script{:src => 'vendor/scrollreveal/scrollreveal.min.js'}
  %script{:src => 'vendor/magnific-popup/jquery.magnific-popup.min.js'}
  / Custom scripts for this template
  %script{:src => 'https://blackrockdigital.github.io/startbootstrap-creative/js/creative.min.js'}
