.footer
  .container.text-center
    %br/
    %span.text-muted
      %a{:href => 'https://www.facebook.com/profile.php?id=100002904715712'}
        %i.fa.fa-facebook-square.fa-3x
    %span.text-muted
      %a &nbsp
    %span.text-muted
      %a{:href => 'https://www.linkedin.com/in/justin-starner/'} 
        %i.fa.fa-linkedin-square.fa-3x
    %span.text-muted
      %a &nbsp
    %span.text-muted
      %a{:href => 'mailto:justin@polarnotion.com'}
        %i.fa.fa-envelope-square.fa-3x
  %br/
